<h1>Invite Members</h1>

<%= form_with url: invite_tenant_members_path do |form| %>
  <%= form.text_field :email, placeholder: 'Email' %>
  <%= form.submit 'Invite' %>
<% end %>

<h1>Members</h1>

<% @member.each do |member| %>
  <%= member.user.email %>
  <%= member.roles %>
<% end %>